#buttons{
    margin: auto;
    width: 100%;
}
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 130px;
    height: 40px;
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#roundResult {
    text-align: center;
    margin-top: 30px;
}
#results {
    text-align: center;
    margin-top: 30px;
}
span {
    text-align: center;
    margin-left: 30px;
}